* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3px;
  padding: 10px;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: black 2px solid;
}

.image {
  width: 35vw;
  border-radius: 50px;
  border: 5px double black;
  padding: 0px;
  margin: 5px 20px;
}

.image_detail {
  /* border:2px dotted red; */
  width: 100px;
  margin: 0px auto;
  font-size: auto;
}
